body {
    background:rgb(255, 255, 255);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* Чтобы отступы не ломали ширину */
}
a {
    color: rgb(0, 5, 63);
    font-size: 18px;
    text-decoration: none;
}
h1 {
    text-align: center;
    color: rgb(55, 63, 182);
    font-size: 32px;
}
p {
    font-size: 20px;
    color: darkgreen;
}
div {
    color:  rgb(124, 118, 118);
}
h3 {
    color:  rgb(143, 21, 21);
    font-size: 23px;
}
figure {
    float: right;
    text-align: center;
    color: #555; /* Azure на белом не видно, заменил на серый */
    font-size: 18px;
    font-style: italic;
    margin: 10px;
}
table {
    color: rgb(199, 191, 191);
    width: 100%;
}
tr{
    background-color: #000000;
    text-align: center;
}
.table-3 {
    color: rgb(199, 191, 191);
}
caption {
    font-size: 19px;
}
ul {
    color: #333; /* Azure заменил на темный для читаемости */
    font-size: 19px;
}
figure img {
    display: block;
    width: 350px;
}
.city-list {
    list-style-type: square;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

/* ИСПРАВЛЕННЫЙ ФУТЕР (растягивается) */
footer {
    margin-top: 50px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(114, 112, 112);
    padding: 20px;
    /* Магия растягивания фона на всю ширину окна: */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
}

/* --- ТВОЯ АДАПТИВНОСТЬ --- */
@media (max-width: 1024px) {
    body { width: 85%; } /* Для планшетов */
}

@media (max-width: 740px) {
    body {
        width: 100%; 
        padding: 15px;
    }
    
    figure {
        float: none; /* Картинка теперь не справа, а по центру */
        margin: 0 auto 20px;
    }

    figure img {
        width: 100%; /* Картинка подстраивается под телефон */
        max-width: 350px;
        margin: 0 auto;
    }

    table {
        display: block;
        overflow-x: auto; /* Таблицу можно скроллить влево-вправо */
    }
}